.blog-link {
  color: #ba992f
}

.blog-link:hover {
  opacity: 0.8;
}

.start-survey-btn, .next-btn, .confirm-answer, .prev-btn {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: .7rem;
  background-color: white;
  border-radius: 5px;
  border: #ccc 1px solid;
  position: relative;
}

.start-survey-btn:hover {
  transform: translateY(-1.3px);
  box-shadow: 0 .2rem .24rem rgba(0,0,0,0.1);
  cursor: pointer;
  /* border-bottom: #ccc 3px solid; */
}