.bacc-calculator {

}

.bacc-calculator__inner-container {
  max-width: 900px;
  padding: 15px;
  margin: auto;
}

.bacc-calculator__border {
  border: #eee solid 2px;
  border-top: #ba992f 2px solid;
}


/* Heading */
@media only screen and (min-width: 700px) {
  /* 
    DO NOT INCLUDE
  */
  .template{
    padding: 100px      
  }
  /* 
    DO NOT INCLUDE
  */
}

@media only screen and (min-width: 1000px) {
  .bacc-calculator__heading {
    max-width: 600px;
    line-height: 1.5rem
  }
}
  

